.toggle > .toggle-group {
    background:white;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    color:#666;
}

.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}


body, section {			/* Change width and height to own preferences */
	width: 400px;
}

/* Basic style tweaks */
section { padding: 5px;}
.navbar { margin-bottom: 2px; }

